<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink='/observable' routerLinkActive='active'>Observable</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/strategy' routerLinkActive='active'>Strategy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/decorator' routerLinkActive='active'>Decorator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/facade' routerLinkActive='active'>Facade</a>
  </li>
</ul>

<router-outlet></router-outlet>
