<p>
  Template Driven Form
</p>
<form #f="ngForm" 
  class="d-flex flex-column"
  (ngSubmit)="onSubmit()">
  <input type="email" 
    class="form-control mb-1" 
    placeholder="Email" 
    name="email" 
    required 
    email
    #ngemail="ngModel"
    [(ngModel)]="email">
  <div *ngIf="!ngemail.valid && ngemail.touched"
    class="alert alert-danger">
    Email is required
  </div>
  <input type="password" 
    class="form-control mb-1" 
    placeholder="Password" 
    name="password" 
    required
    #ngpassword="ngModel"
    [(ngModel)]="password">
  <div *ngIf="!ngpassword.valid && ngpassword.touched"
    class="alert alert-danger">
    Password is required
  </div>
  <input type="text" 
    class="form-control mb-1" 
    placeholder="First Name" 
    name="firstName" 
    required
    #ngfirstName="ngModel"
    [(ngModel)]="firstName">
  <div *ngIf="!ngfirstName.valid && ngfirstName.touched"
    class="alert alert-danger">
    First name is required
  </div>
  <input type="text" 
    class="form-control mb-1" 
    placeholder="Last Name" 
    name="lastName" 
    required 
    #nglastName="ngModel"
    [(ngModel)]="lastName">
  <div *ngIf="!nglastName.valid && nglastName.touched"
    class="alert alert-danger">
    Last name is required
  </div>
  <button type="submit" 
    class="btn btn-primary" 
    [disabled]="!f.form.valid" 
    (click)="addUser(f.value);f.reset()">
    Submit
  </button>
</form>
